@charset "UTF-8";
/*herosection*/
.hero__fondo {
  background-image: url(../imagenes/herosection.jpg);
  width: 100vw;
  background-size: 100vw;
  background-repeat: no-repeat;
  height: calc(99vh - 200px); }
  .hero__fondo .hero__info {
    position: absolute;
    left: 55%;
    margin-top: 5%;
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-items: center; }
    .hero__fondo .hero__info h1 {
      font-size: 3em; }
    .hero__fondo .hero__info h2 {
      font-size: 1.5em;
      width: 75%;
      text-align: center;
      margin-top: 1%; }
    .hero__fondo .hero__info button {
      width: 25%;
      height: 30px;
      margin-top: 2%;
      border-radius: 5px; }

/*herosection*/
/*caracteristicas*/
.seccion__caracts {
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
  align-items: center; }
  .seccion__caracts .caracts__contenedor {
    margin-top: 30px;
    margin-bottom: 60px;
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center; }
    .seccion__caracts .caracts__contenedor img {
      width: 30%; }
    .seccion__caracts .caracts__contenedor .caracts__txt {
      width: 30%; }
      .seccion__caracts .caracts__contenedor .caracts__txt h3 {
        font-size: 2em;
        text-align: center; }
      .seccion__caracts .caracts__contenedor .caracts__txt p {
        font-size: 1.2em;
        text-align: center; }

#orden2 img {
  order: 2; }

#orden2 .caracts__txt {
  order: 1; }

.caracts__contenedor img:hover {
  transform: scale(1.1); }

.seccion__btn {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }
  .seccion__btn button {
    width: 25%;
    height: 30px;
    border-radius: 5px; }

/*caracteristicas*/
/*seccion productos*/
.seccion__productos {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
  justify-items: center;
  align-items: center;
  justify-content: space space-evenly;
  align-content: space-evenly;
  margin-bottom: 30px;
  margin-top: 30px; }
  .seccion__productos .tarjeta__productos {
    width: 95%;
    margin-bottom: 5%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }
    .seccion__productos .tarjeta__productos img {
      width: 100%; }
    .seccion__productos .tarjeta__productos .titulo--producto {
      font-size: 1.5em;
      text-align: center;
      margin-top: 15px;
      margin-bottom: 25px;
      text-transform: uppercase; }
    .seccion__productos .tarjeta__productos .info--modal p {
      margin-top: 5%;
      font-size: 1em; }
    .seccion__productos .tarjeta__productos .info--modal ul {
      list-style: square; }
    .seccion__productos .tarjeta__productos .info--modal h2 {
      text-align: right; }

/*seccion productos*/
video {
  width: 80%;
  margin: 2% 10%; }

.txt--video {
  text-align: center;
  margin-top: 2%; }
  .txt--video h2 {
    font-size: 3.5em; }
  .txt--video p {
    font-size: 2em; }

.hero__nosotros {
  width: 100vw; }
  .hero__nosotros img {
    width: 100%; }

.nosotros__txt {
  width: 50%;
  position: relative;
  left: 25%;
  right: 25%;
  margin-top: 5%;
  margin-bottom: 5%; }
  .nosotros__txt h2 {
    text-align: center;
    font-size: 2.5em; }
  .nosotros__txt p {
    text-align: center;
    font-size: 1.5em;
    margin-top: 2%;
    margin-bottom: 2%; }
  .nosotros__txt .pregunta--titulo {
    font-weight: 500;
    font-size: 2em;
    margin-top: 2%; }

.mapa {
  width: 100%; }

.contacto__redes-logos {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  margin-top: 3%;
  margin-bottom: 3%; }
  .contacto__redes-logos img {
    margin-left: 3em;
    margin-right: 3em; }

.contacto__redes-logos img:hover {
  transform: scale(1.1); }

.container {
  margin-bottom: 5%;
  margin-top: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .container form {
    background-color: #f6f7f5;
    padding: 5%; }
  .container .form-label {
    margin-top: 2%; }
  .container .btn {
    margin: 1%; }

/* MEDIA QUERIES  HOME*/
@media only screen and (min-width: 1600px) {
  /*pantallas más de 1200px*/
  header .menu__nav li a {
    font-size: 2em; }
  .hero__fondo {
    height: 99vh;
    background-size: 100vw; }
    .hero__fondo .hero__info h1 {
      font-size: 5em; }
    .hero__fondo .hero__info h2 {
      font-size: 3em;
      text-align: center;
      margin-top: 1%; }
    .hero__fondo .hero__info button {
      width: 40%;
      height: 50px;
      margin-top: 2%;
      font-size: 2em; }
  .seccion__caracts .caracts__contenedor {
    width: 80%; }
    .seccion__caracts .caracts__contenedor .caracts__txt {
      width: 60%; }
      .seccion__caracts .caracts__contenedor .caracts__txt h3 {
        font-size: 4em; }
      .seccion__caracts .caracts__contenedor .caracts__txt p {
        font-size: 3em; }
  .seccion__btn button {
    width: 35%;
    height: 60px;
    font-size: 2em; } }

@media only screen and (max-width: 1200px) {
  /*pantallas 774 a 1200px*/
  .hero__fondo {
    height: calc(99vh - 400px); }
    .hero__fondo .hero__info h1 {
      font-size: 2.5em; }
    .hero__fondo .hero__info h2 {
      font-size: 1.5em;
      text-align: center;
      margin-top: 1%; }
    .hero__fondo .hero__info button {
      width: 30%;
      height: 40px;
      margin-top: 2%; }
  .seccion__caracts .caracts__contenedor {
    width: 80%; }
    .seccion__caracts .caracts__contenedor .caracts__txt {
      width: 60%; }
      .seccion__caracts .caracts__contenedor .caracts__txt h3 {
        font-size: 1.5; }
      .seccion__caracts .caracts__contenedor .caracts__txt p {
        font-size: 1em; } }

@media only screen and (max-width: 774px) {
  /*pantallas hasta 774px*/
  .hero__fondo {
    height: calc(99vh - 500px); }
    .hero__fondo .hero__info h1 {
      font-size: 2em; }
    .hero__fondo .hero__info h2 {
      font-size: 1em;
      text-align: center;
      margin-top: 1%; }
    .hero__fondo .hero__info button {
      width: 38%;
      height: 30px;
      margin-top: 2%; }
  .seccion__caracts {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }
    .seccion__caracts .caracts__contenedor {
      width: 80%;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; }
      .seccion__caracts .caracts__contenedor img {
        width: 50%; }
      .seccion__caracts .caracts__contenedor .caracts__txt {
        width: 60%; }
        .seccion__caracts .caracts__contenedor .caracts__txt h3 {
          font-size: 1.5em; }
        .seccion__caracts .caracts__contenedor .caracts__txt p {
          font-size: 1em; }
  #orden2 img {
    order: 1; }
  #orden2 .caracts__txt {
    order: 2; } }

@media only screen and (max-width: 679px) {
  /*menú hasta 679px*/
  header .menu__nav li a {
    font-size: 0.9em; }
  .hero__fondo {
    height: calc(99vh - 500px); }
    .hero__fondo .hero__info button {
      width: 42%;
      height: 30px;
      margin-top: 2%; } }

@media only screen and (max-width: 633px) {
  /*menú hasta 633px*/
  header .menu__nav li a {
    font-size: 0.8em; }
  .hero__fondo {
    height: calc(99vh - 500px); }
    .hero__fondo .hero__info h1 {
      font-size: 1.5em; }
    .hero__fondo .hero__info h2 {
      font-size: 1em;
      text-align: center;
      margin-top: 1%; }
    .hero__fondo .hero__info button {
      width: 45%;
      height: 30px;
      margin-top: 2%; } }

@media only screen and (max-width: 586px) {
  /*menú hasta 586px*/
  header .menu__nav li a {
    font-size: 0.6em; }
  .hero__fondo {
    height: calc(99vh - 500px); }
    .hero__fondo .hero__info h1 {
      font-size: 1.5em; }
    .hero__fondo .hero__info h2 {
      font-size: 1em;
      text-align: center;
      margin-top: 1%; }
    .hero__fondo .hero__info button {
      width: 52%;
      height: 30px;
      margin-top: 2%; } }

@media only screen and (max-width: 494px) {
  /*menú hasta 494px*/
  header .menu__nav li a {
    font-size: 0.5em; }
  .hero__fondo {
    height: calc(99vh - 500px); }
    .hero__fondo .hero__info h1 {
      font-size: 1.2em; }
    .hero__fondo .hero__info h2 {
      font-size: 0.9em;
      text-align: center;
      margin-top: 1%; }
    .hero__fondo .hero__info button {
      width: 60%;
      height: 30px;
      margin-top: 2%; }
  .seccion__caracts .caracts__contenedor .caracts__txt {
    width: 70%; }
    .seccion__caracts .caracts__contenedor .caracts__txt h3 {
      font-size: 1.2em; }
    .seccion__caracts .caracts__contenedor .caracts__txt p {
      font-size: 0.8em; } }

@media only screen and (max-width: 440px) {
  /*menú hasta 440px*/
  header .menu__nav li a {
    font-size: 0.4em; }
  .hero__fondo {
    height: calc(99vh - 700px); }
    .hero__fondo .hero__info h1 {
      font-size: 1em; }
    .hero__fondo .hero__info h2 {
      font-size: 0.7em;
      text-align: center;
      margin-top: 1%; }
    .hero__fondo .hero__info button {
      width: 40%;
      height: 30px;
      margin-top: 2%;
      font-size: 0.5em; } }

@media only screen and (max-width: 401px) {
  /*menú hasta 440px*/
  header .menu__nav li a {
    font-size: 0.3em; } }

/* MEDIA QUERIES  CATALOGO*/
@media only screen and (max-width: 768px) {
  /*catalogo pantallas menos de 768px*/
  .seccion__productos {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center; } }

/*
beige para otra section y formulario: 

botones y hover del menú
#A6A292
*/
/*Reseteo*/
* {
  margin: 0;
  padding: 0;
  color: #1f1f21;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif; }

h1, h2, h3, .pregunta--titulo {
  font-family: "papyrus", "copperplate", fantasy; }

/*Reseteo*/
/*generales*/
img {
  width: 100px; }

body {
  width: 99vw;
  background-image: linear-gradient(to bottom, #f1f0ec 60%, #DBD5C5); }

.btn__catalogo {
  background-color: #f6f7f5;
  border: none; }
  .btn__catalogo a {
    text-decoration: none;
    font-weight: bold;
    text-align: center; }

.btn__catalogo:hover {
  background-color: #A6A292; }

/*generales*/
/*menu*/
header {
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f7f5; }
  header .menu__logo {
    width: 4%;
    margin: 10px; }
  header .menu__nav {
    text-align: right;
    margin: 10px; }
    header .menu__nav li {
      display: inline-block;
      padding: 10px;
      margin: 5px; }
      header .menu__nav li a {
        font-weight: bold;
        color: #1f1f21;
        text-decoration: none; }

.menu__nav ul li a:hover {
  color: #A6A292; }

/*menu*/
/*footer*/
footer {
  width: 100vw;
  background-color: #f6f7f5;
  padding-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }
  footer .footer__copyright {
    margin: 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start; }
    footer .footer__copyright img {
      width: 7%;
      margin: 10px; }
    footer .footer__copyright p {
      font-size: 0.8em; }
  footer .footer__redes {
    margin: 10px;
    margin-right: 10%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-end; }
    footer .footer__redes div {
      justify-self: right;
      width: 15%; }
      footer .footer__redes div img {
        width: 30%; }
    footer .footer__redes ul {
      font-size: 0.8em; }

/*footer*/
