$clr-fondo: #f1f0ec;
$clr-beige: #DBD5C5;
$clr-menu-footer: #f6f7f5;
$clr-btn: #A6A292;
$clr-tipografia: #1f1f21;

/*seccion productos*/

.seccion__productos {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
    justify-content: space space-evenly;
    align-content: space-evenly;

    margin-bottom: 30px;
    margin-top: 30px;

    .tarjeta__productos {
        width: 95%;
        margin-bottom: 5%;

        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
        }

        .titulo--producto {
            font-size:  1.5em;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 25px;
            text-transform: uppercase;
        }

            .info--modal {

                p {
                    margin-top: 5%;
                    font-size: 1em;
                }

                ul {
                    list-style: square;
                }

                h2 {
                    text-align: right;
                }
            }

    }
}

/*seccion productos*/