/*herosection*/
.hero__fondo {
    background-image: url(../imagenes/herosection.jpg);
    width: 100vw;
    background-size: 100vw;
    background-repeat: no-repeat;
    height: 700px;

    .hero__info {
        position: absolute;
        left: 55%;
        margin-top: 5%;

        display: flex;
        flex-flow: column wrap;
        
        justify-items: center;
        align-items: center;

        h1 {
            font-size: 3.6em;
        }

        h2 {
            font-size: 1.8em;
            width: 75%;
            text-align: center;
            margin-top: 1%;
        }

        .btn__catalogo {
            margin-top: 2%;
        }
    }
}
/*herosection*/



/*caracteristicas*/

.seccion__caracts {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;

    .caracts__contenedor {
        margin-top: 30px;
        margin-bottom: 60px;
        width: 80%;
    
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

        img {
            width: 30%;
        }

        .caracts__txt {
            width: 50%;

            h3 {
                font-size: 2em;
                text-align: center;
            }
    
            p {
                font-size: 1.2em;
                text-align: center;
            }
        }
    }
}

#orden2 img {
        order: 2;
    }

#orden2 .caracts__txt {
        order: 1;
    }

.caracts__contenedor img:hover {
    transform: scale(1.1);
}

.seccion__btn {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/*caracteristicas*/