
/* MEDIA QUERIES  HOME*/

@media only screen and (min-width: 1600px) {
    /*pantallas más de 1200px*/

    header {
        .menu__nav {
            li {
                a {
                    font-size: 2em;
                }
            }
        }
    }

    .hero__fondo {
        height: 99vh;
        background-size: 100vw;

        .hero__info {
            h1 {
                font-size: 5em;
            }
    
            h2 {
                font-size: 3em;
                text-align: center;
                margin-top: 1%;
            }
    
            button {
                width: 40%;
                height: 50px;
                margin-top: 2%;
                font-size: 2em;
            }
        }  
    }

    .seccion__caracts {

        .caracts__contenedor {
            width: 80%;
    
            .caracts__txt {
                width: 60%;
        
                h3 {
                    font-size: 4em;
                }
                p {
                    font-size: 3em;
                }
            }
        }
    }
    
    .seccion__btn {
        button {
            width: 35%;
            height: 60px;
            font-size: 2em;
        }
    }
}

@media only screen and (max-width: 1200px) {
    /*pantallas 774 a 1200px*/

    .hero__fondo {
        height: calc(99vh - 400px);

        .hero__info {
            h1 {
                font-size: 2.5em;
            }
    
            h2 {
                font-size: 1.5em;
                text-align: center;
                margin-top: 1%;
            }
    
            button {
                width: 30%;
                height: 40px;
                margin-top: 2%;
            }
        }  
    }

    .seccion__caracts {

        .caracts__contenedor {
            width: 80%;
    
            .caracts__txt {
                width: 60%;
        
                h3 {
                    font-size: 1.5;
                }
                p {
                    font-size: 1em;
                }
            }
        }
    }
}

@media only screen and (max-width: 774px) {
    /*pantallas hasta 774px*/

    .hero__fondo {
        height: calc(99vh - 500px);

        .hero__info {
            h1 {
                font-size: 2em;
            }
    
            h2 {
                font-size: 1em;
                text-align: center;
                margin-top: 1%;
            }
    
            button {
                width: 38%;
                height: 30px;
                margin-top: 2%;
            }
        }  
    }

    .seccion__caracts {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        .caracts__contenedor {
            width: 80%;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;

            img {
                width: 50%;
            }
    
            .caracts__txt {
                width: 60%;
        
                h3 {
                    font-size: 1.5em;
                }
                p {
                    font-size: 1em;
                }
            }
        }
    }

    #orden2 img {
        order: 1;
    }

#orden2 .caracts__txt {
        order: 2;
    }
}

@media only screen and (max-width: 679px) {
    /*menú hasta 679px*/

    header {
        .menu__nav {
            li {
                a {
                    font-size: 0.9em;
                }
            }
        }
    }

    .hero__fondo {
        height: calc(99vh - 500px);

        .hero__info {
            button {
                width: 42%;
                height: 30px;
                margin-top: 2%;
            }
        }  
    }
}

@media only screen and (max-width: 633px) {
    /*menú hasta 633px*/

    header {
        .menu__nav {
            li {
                a {
                    font-size: 0.8em;
                }
            }
        }
    }

    .hero__fondo {
        height: calc(99vh - 500px);

        .hero__info {
            h1 {
                font-size: 1.5em;
            }
    
            h2 {
                font-size: 1em;
                text-align: center;
                margin-top: 1%;
            }
    
            button {
                width: 45%;
                height: 30px;
                margin-top: 2%;
            }
        }  
    }
}

@media only screen and (max-width: 586px) {
    /*menú hasta 586px*/

    header {
        .menu__nav {
            li {
                a {
                    font-size: 0.6em;
                }
            }
        }
    }

    .hero__fondo {
        height: calc(99vh - 500px);

        .hero__info {
            h1 {
                font-size: 1.5em;
            }
    
            h2 {
                font-size: 1em;
                text-align: center;
                margin-top: 1%;
            }
    
            button {
                width: 52%;
                height: 30px;
                margin-top: 2%;
            }
        }  
    }
}

@media only screen and (max-width: 494px) {
    /*menú hasta 494px*/

    header {
        .menu__nav {
            li {
                a {
                    font-size: 0.5em;
                }
            }
        }
    }

    .hero__fondo {
        height: calc(99vh - 500px);

        .hero__info {
            h1 {
                font-size: 1.2em;
            }
    
            h2 {
                font-size: 0.9em;
                text-align: center;
                margin-top: 1%;
            }
    
            button {
                width: 60%;
                height: 30px;
                margin-top: 2%;
            }
        }  
    }

    .seccion__caracts {
        .caracts__contenedor {
            .caracts__txt {
                width: 70%;
        
                h3 {
                    font-size: 1.2em;
                }
                p {
                    font-size: 0.8em;
                }
            }
        }
    }
}

@media only screen and (max-width: 440px) {
    /*menú hasta 440px*/

    header {
        .menu__nav {
            li {
                a {
                    font-size: 0.4em;
                }
            }
        }
    }

    .hero__fondo {
        height: calc(99vh - 700px);

        .hero__info {
            h1 {
                font-size: 1em;
            }
    
            h2 {
                font-size: 0.7em;
                text-align: center;
                margin-top: 1%;
            }
    
            button {
                width: 40%;
                height: 30px;
                margin-top: 2%;
                font-size: 0.5em;
            }
        }  
    }
}

@media only screen and (max-width: 401px) {
    /*menú hasta 440px*/

    header {
        .menu__nav {
            li {
                a {
                    font-size: 0.3em;
                }
            }
        }
    }
}


    /* MEDIA QUERIES  CATALOGO*/
    
    @media only screen and (max-width: 768px) {
        /*catalogo pantallas menos de 768px*/
    
        .seccion__productos {
            width: 100vw;
            display: grid;
            grid-template-columns: 1fr;

            grid-row-gap: 10px;
            justify-items: center;
            align-items: center;
            justify-content: center;
            align-content: center;
        }
    }