
/* MEDIA QUERIES  HOME*/

@media only screen and (min-width: 1600px) {
    /* +1600 */

    header {
        .container-fluid {
            .col-md-12{
                .nav {
                    li {
                        a {
                            font-size: 1.7em;
                        }
                    }
                }
            }
        }
    }

    .hero__fondo {
        height: 1100px;
        background-size: 100vw;

        .hero__info {
            h1 {
                font-size: 4em;
            }
    
            h2 {
                font-size: 3em;
                text-align: center;
                margin-top: 1%;
            }
    
            button {
                width: 40%;
                height: 60px;
                margin-top: 2%;
                font-size: 1.5em;
            }
        }  
    }

    .seccion__caracts {

        .caracts__contenedor {
            width: 80%;
    
            .caracts__txt {
                width: 60%;
        
                h3 {
                    font-size: 3em;
                }
                p {
                    font-size: 2em;
                }
            }
        }
    }
    
    .seccion__btn {
        button {
            width: 35%;
            height: 60px;
            font-size: 2em;
        }
    }
}

@media only screen and (max-width: 1224px) {
    /* 816-1224 px*/

    .hero__fondo {
        height: 550px;

        .btn__catalogo {
            width: 50%;
            height: 55px;
        }
    
        .hero__info {
            h1 {
                font-size: 2.5em;
            }
    
            h2 {
                font-size: 1.5em;
                text-align: center;
                margin-top: 1%;
            }
        }
    }

}

@media only screen and (max-width: 941px) {
    /* 816-941 px*/

    .hero__fondo {
        height: 450px;

        .btn__catalogo {
            width: 50%;
            height: 55px;
        }
    
        .hero__info {
            h1 {
                font-size: 2em;
            }
    
            h2 {
                font-size: 1.2em;
                text-align: center;
                margin-top: 1%;
            }
        }
    }

}

@media only screen and (max-width: 816px) {
    /* 714-816 */

    header {
        .container-fluid {
            .col-md-12{
                .nav {
                    li {
                        padding: 5px;

                        a {
                            font-size: 0.9em;
                        }
                    }
                }
            }
        }
    }

    .hero__fondo {
        height: 350px;

        .hero__info {
            h1 {
                font-size: 1.7em;
            }
    
            h2 {
                font-size: 1em;
                text-align: center;
                margin-top: 1%;
            }
    
            button {
                width: 60%;
                height: 50px;
                margin-top: 2%;
            }
        }  
    }

}

@media only screen and (max-width: 714px) {
    /* 660-714 */

    header {
        .container-fluid {
            .col-md-12{
                .nav {
                    li {
                        padding: 3px;

                        a {
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
    }

    .hero__fondo {
        height: 300px;
    }

    .seccion__caracts {
        display: flex;
        flex-flow: column wrap;
        justify-items: center;
        align-items: center;

        .caracts__contenedor {
            margin-bottom: 30px;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            align-items: center;

            img {
                margin-bottom: 20px;
            }

            .caracts__txt {
                width: 75%;
            }
        }
    }

    #orden2 img {
        order: 1;
    }

#orden2 .caracts__txt {
        order: 2;
    }

}

@media only screen and (max-width: 660px) {
    /* 644-660 */

    header {
        .container-fluid {
            .col-md-12{
                .nav {
                    li {
                        padding: 1px;
                        a {
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
    }

    .hero__fondo {
        height: 300px;

        .hero__info {
            button {
                font-size: 0.7em;
                width: 60%;
                height: 50px;
                margin-top: 2%;
            }
        }  
    }

    .seccion__caracts {

        .caracts__contenedor {
            width: 80%;
    
            .caracts__txt {
                width: 75%;
        
                h3 {
                    font-size: 1.4em;
                }
                p {
                    font-size: 0.9em;
                }
            }
        }
    }
}

@media only screen and (max-width: 644px) {
    /* 565-644 */

    header {
        .container-fluid {
            .col-md-12{
                .nav {
                    li {
                        padding: 0px;
                        a {
                            font-size: 0.7em;
                        }
                    }
                }
            }
        }
    }

    .hero__fondo {
        height: 300px;

        .hero__info {
            button {
                font-size: 0.7em;
                width: 60%;
                height: 50px;
                margin-top: 2%;
            }
        }  
    }

}

@media only screen and (max-width: 565px) {
    /* 517-565 */

    header {
        .container-fluid {
            .col-md-12{
                .nav {
                    li {
                        a {
                            font-size: 0.6em;
                        }
                    }
                }
            }
        }
    }

    .hero__fondo {
        height: 250px;

        .hero__info {
            h1 {
                font-size: 1.3em;
            }
    
            h2 {
                font-size: 0.7em;
                text-align: center;
                margin-top: 1%;
            }   
    
            button {
                font-size: 0.7em;
                width: 60%;
                height: 40px;
                margin-top: 2%;
            }
        }  
    }

    .seccion__caracts {

        .caracts__contenedor {
            width: 80%;
    
            .caracts__txt {
                width: 75%;
        
                h3 {
                    font-size: 1.3em;
                }
                p {
                    font-size: 0.8em;
                }
            }
        }
    }

    .seccion__btn {
        button {
            width: 35%;
            height: 30px;
            font-size: 0.5em;
        }
    }

}

@media only screen and (max-width: 517px) {
    /* 469-517 */

    header {
        .container-fluid {
            .col-md-12{
                .nav {
                    li {
                        a {
                            font-size: 0.5em;
                        }
                    }
                }
            }
        }
    }

    .hero__fondo {
        height: 250px;

        .hero__info {
    
            button {
                font-size: 0.7em;
                width: 60%;
                height: 40px;
                margin-top: 2%;
            }
        }  
    }

    .seccion__caracts {

        .caracts__contenedor {
            width: 80%;
    
            .caracts__txt {
                width: 75%;
        
                h3 {
                    font-size: 1.2em;
                }
                p {
                    font-size: 0.7em;
                }
            }
        }
    }

}

@media only screen and (max-width: 469px) {
    /* 424-469 */

    header {
        .container-fluid {
            .col-md-12{
                .nav {
                    li {
                        a {
                            font-size: 0.4em;
                        }
                    }
                }
            }
        }
    }

    .hero__fondo {
        height: 200px;

        .hero__info {
            h1 {
                font-size: 1em;
            }
    
            h2 {
                font-size: 0.7em;
                text-align: center;
                margin-top: 1%;
            }
    
            button {
                font-size: 0.5em;
                width: 50%;
                height: 40px;
                margin-top: 2%;
            }
        }  
    }

}

@media only screen and (max-width: 424px) {
    /* hasta 424 */

    header {
        .container-fluid {
            .col-md-12{
                .nav {
                    li {
                        a {
                            font-size: 0.3em;
                        }
                    }
                }
            }
        }
    }

    .hero__fondo {

        .hero__info {
            h1 {
                font-size: 0.9em;
            }
    
            h2 {
                font-size: 0.6em;
                text-align: center;
                margin-top: 1%;
            }
    
            button {
                font-size: 0.3em;
                width: 40%;
                height: 30px;
                margin-top: 2%;
            }
        } 
    }


    .seccion__caracts {

        .caracts__contenedor {
            width: 80%;
    
            .caracts__txt {
                width: 75%;
        
                h3 {
                    font-size: 0.9em;
                }
                p {
                    font-size: 0.6em;
                }
            }
        }
    }
}

    /* MEDIA QUERIES CATALOGO*/

    @media only screen and (max-width: 768px) {
        /*catalogo pantallas menos de 768px*/

        .seccion__productos {
            width: 100vw;
            display: grid;
            grid-template-columns: 1fr;

            grid-row-gap: 10px;
            justify-items: center;
            align-items: center;
            justify-content: center;
            align-content: center;
        }
}


    /* MEDIA QUERIES VIDEOS*/

    @media only screen and (max-width: 900px) {
        .txt--video {
            h1 {
                font-size: 2.5em;
            }

            p {
                font-size: 1em;
            }
        }
    }

    @media only screen and (max-width: 550px) {
        .txt--video {
            h1 {
                font-size: 1.5em;
            }

            p {
                font-size: 0.5 em;
            }
        }
    }



    /* MEDIA QUERIES QUIENES SOMOS*/

    @media only screen and (max-width: 800px) {
        
        .nosotros__txt {
            h1{
                font-size: 1.5em;
            }

            p{
                font-size: 1em;
            }

            .pregunta--titulo {
                font-size: 1.2em;
            }
        }
    }

    @media only screen and (max-width: 550px) {
        
        .nosotros__txt {
            h1{
                font-size: 1em;
            }

            p{
                font-size: 0.7em;
            }

            .pregunta--titulo {
                font-size: 0.9em;
            }
        }
    }

