.hero__nosotros {
    width: 100vw;

    img {
        width:100%;
    }
}

.nosotros__txt {
    width: 50%;
    position: relative;
    left: 25%;
    right: 25%;

    margin-top: 5%;
    margin-bottom: 5%;

    h2 {
        text-align: center;
        font-size: 2.5em;
    }

    p {
        text-align: center;
        font-size: 1.5em;
    }
}